@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Belleza&display=swap');



body{
    font-family: 'Poppins', sans-serif;
}

a
{
	text-decoration:none!important;
}

button:focus {
    outline: none!important;
    outline: none!important;
}
.btn:active:focus, .navbar-toggler:focus {
    box-shadow: none;
}
img
{
    width:100%;
}

/**HEADER CSS**/

.logo img
{
    max-width: 190px;
    vertical-align: middle;
}

header {
    position: absolute;
    width: 100%;
    margin: 0 auto;
}

 .navbar-collapse {
    justify-content: end;
}

li.nav-item a {
    color: #643600;
    font-weight: 400;
    font-family: 'Poppins';
}
li.nav-item {
    padding-left: 64px;
}
li.nav-item a:hover, a.nav-link.active:hover {
    color: #e59335;
}
a.nav-link.active
{
    font-weight: 600;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link
{
    background-color: transparent;
    color: #643600;
}
button.navbar-toggler {
    border: 1px solid #643600;
}
.banner-sec
{
    background-image: url('../images/banner.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 80vh;
    display: flex;
    align-items: center;
}

.hero-title
{
    font-size: 5rem;
    color:#d28d02;
    font-family: 'Kaushan Script', cursive;
}
.hero-title span{
    color:#a9bb0f;
}

.banner-btn
{
    background: transparent;
    border: 2px solid #643600;
    border-radius: 30px;
    font-size: 20px;
    padding: 9px 32px;
    color: #111;
    box-shadow: 3px 8px 15px 2px #cac5c5;
    margin-top:40px;
}

.banner-btn:hover
{
    background:#643600;
    border: 2px solid #643600;
}
.sp
{
    padding: 100px 0;
}

.about-sec
{
    background: linear-gradient(0deg, rgb(255 255 255 / 80%), rgb(255 255 255 / 80%)),url(../images/leaves.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 70vh;
    position: relative;
}

.title-text {
    text-align: center;
    font-size: 4rem;
    font-weight: 600;
    color: #111;
}

.sub-para
{
    font-size: 1.2rem;
    color: #333;
    font-weight: 300;
    text-align: center;
    padding: 20px 0 40px;
    max-width: 960px;
    margin: 0 auto;
    line-height: 1.5;
}
.about-sec .sub-para
{
    margin-bottom: 40px;
}

img.abt-img {
    position: absolute;
    left: 0;
    bottom:0;
    max-width: 48%;
    border-radius: 0 278px 0 0;
    border-right: 8px solid #44782e;
    border-top: 8px solid #44782e;
    border-bottom: 8px solid #44782e;
}

.para {
    font-size: 1.2rem;
    color: #1b1b1b;
    padding:40px 0 0 40px ;
}

.gal-sec
{
    text-align: center;
}

.gl-img {
    border-radius: 20px;
    border: 4px solid #eef4c55c;
}

.gl-btn
{
    background: #643600;
    border: 2px solid #643600;
    border-radius: 30px;
    font-size: 20px;
    padding: 9px 32px;
    color: #fff;
    box-shadow: 3px 8px 15px 2px #cac5c5;
    margin-top:60px;
}

.gl-btn:hover, .sub-btn:hover
{
    background: #fff;
    border: 2px solid #643600;
    color: #643600;
}
.cont-sec
{
    background: linear-gradient(0deg, rgb(205 207 204/30%), rgb(205 207 204/30%)),url(../images/contact-bg.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 70vh;
}

.cont-sec form {
    background-color: #858f61;
    padding: 60px 50px;
    border-radius: 28px;
    width: 100%;
    max-width: 530px;
    color:#fff;
}

.cont-sec form h4
{
    font-size: 1.7rem;
    text-align: center;
    font-weight: 300;
    margin-bottom: 20px;
}

.cont-sec form ::placeholder{
    font-size: 1rem;
    font-weight: 300;
   
}
.cont-sec form input, .cont-sec form textarea {
    border:none;
    border-radius: 30px;
    background-color: #fff;
    color:#111;
    padding: 10px 14px;
    margin: 20px 0 10px;
  }
  .cont-sec form textarea {
    border:none;
    border-radius: 16px;
    background-color: #fff;
    color:#111;
    padding: 10px 14px;
    margin: 20px 0 0;
    width: 100%;
  }

  .sub-btn
{
    background: #643600;
    border: 2px solid #643600;
    border-radius: 30px;
    font-size: 18px;
    padding: 9px 34px;
    color: #fff;
    margin:40px auto 0;
    display: block;
}

footer
{
    background: linear-gradient(0deg, rgb(255 255 255 / 0%), rgb(255 255 255 / 0%)),url(../images/footer-bg.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 90px 0 30px;
    text-align: center;
   
}

footer p
{
    color:#fff;
    font-size: 1rem;
}
footer ul
{
    list-style: none;
    padding: 0;
}

footer ul li  {
    display: inline-block;
    margin: 0 7px 20px;
}

.soc-icons i {
    color: #8a9958;
    background-color: #fff;
    padding: 13px 10px;
    width: 50px;
    height: 50px;
    font-size: 24px;
    /* border: 2px solid #fff; */
    border-radius: 40px;
    box-shadow: 0px 0px 3px #eeeeee6e;
}
.soc-icons i:hover
{
    color: #fff;
    background-color: #8a9958;
    /* border: 2px solid #fff; */
    border-radius: 40px;
    box-shadow: 0px 0px 3px #eeeeee6e;
}


/**ABOUT PAGE***/

.banner
{
    background:url(../images/contact-bg.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 70vh;
    display: flex;
    align-items: center;
    text-align: center;
}


.title{
    font-size: 4rem;
    color:#d28d02;
    font-family: 'Kaushan Script', cursive;
}


.plants-icons  {
   padding: 80px 0;
   background-color: #eee;
   display: flex;
   justify-content: space-evenly;
   align-content: flex-end;
   text-align: center;
}

 .plants-icons ul
{
    list-style: none;
     display: flex;
    justify-content: space-around;
    padding: 0;
}
.plants-icons ul li  {
    display: inline-block;
    margin: 20px 0;
    font-size: 1.5rem;
    color: #111;
}

.plants-icons ul li svg {
    fill: #438719;
    width: 100%;
    max-width: 300px;
}
ul.benefit-list {
    
    padding-left: 60px;
    margin-top: 60px;
}
ul.benefit-list li {
   font-size: 1.2rem;
   margin-bottom: 30px;
}


/************MEDIA QUERIES**********/

@media only screen and (max-width:1200px)
{

    .hero-title {
        font-size: 4rem;
    }
    .title-text {
        font-size: 3.5rem;
    }

    .banner-btn {
        font-size: 18px;
}
.sp {
    padding: 70px 0;
}
.para {
    padding: 0 0 0 40px;
}
img.abt-img {
       bottom: 100px;
}
li.nav-item
{
    padding-left: 24px;
}
}


@media only screen and (max-width:1199px)
{
    .hero-title {
        font-size: 3.5rem;
    }
}



@media only screen and (max-width:991px)
{

    .hero-title {
        font-size: 3rem;
    }
    .banner-btn {
        font-size: 16px;
}
.title-text {
    font-size: 2.8rem;
}
.about-sec .sub-para {
    margin-bottom: 20px;
}
.sub-para {
    font-size: 1.1rem;
}
.para {
    font-size: 1rem;
}
img.abt-img {
    bottom: 370px;
    top:50%;
    border-radius: 0 138px 0 0;
}
.cont-sec form {
    padding: 40px 30px;
}
.cont-sec form h4 {
    font-size: 1.2rem;
    margin-bottom: 10px;
}
.cont-sec form {
    padding: 40px 22px;
}
.soc-icons i {
    padding: 9px 10px;
    width: 40px;
    height: 40px;
    font-size: 21px;
}
.plants-icons ul li {
       font-size: 1.1rem;
}
.plants-icons ul li svg {
    max-width: 180px;
}
.plants-icons {
    padding: 40px 0;
}
ul.benefit-list {
    padding-left: 40px;
    margin-top: 40px;
}
ul.benefit-list li {
    font-size: 1rem;
    margin-bottom: 10px;
}
.sub-sec.sp {
    padding-bottom: 40px;
}
}

@media only screen and (max-width:767px)
{
    div#navbarSupportedContent
    {
        background-color: #ddd7be;
        text-align: right;
        padding: 15px 20px;
    }

    img.abt-img {
        bottom: unset;
        top: unset;
        position: relative;
        margin: 0 auto 40px;
        left: unset;
        max-width: 420px;
        border-left: 8px solid #44782e;
        border-radius: 10px;
        display: flex;
    }
    .about-sec .sub-para {
        margin-bottom: 0;
    }
    .gl-img {
        max-width: 330px;
        margin-bottom: 20px;
    }
    footer p {
        font-size: 0.9rem;
    }
    .para {
        padding: 0;
    }
}
/* @media (min-width: 576px)
{
.container {
    max-width: 700px!important;
} 

}*/

@media only screen and (max-width:575px)
{
    .logo img {
        max-width: 110px;
    }
    .title {
        font-size: 3rem;
    }
    .hero-title {
        font-size: 2.3rem; 
}
.banner-sec {
    background: linear-gradient(0deg, rgb(255 255 255 / 80%), rgb(255 255 255 / 11%)), url(../images/banner.jpg);
    background-position: bottom left;
    text-align: center;
}
.title-text {
    font-size: 2.2rem;
}
.sub-para {
    font-size: 1rem;
    line-height: 1.4;
}
}
